<div class="container content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Producto</h3>
                </div>
                <div class="card-body">
                    <app-form-producto (onItemAdded)="agregado($event)"></app-form-producto>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-producto *ngFor="let p of all; let i=index" [producto]="p" [idx]="i+1" (clicked)="elegido(p)" appEspiame>
        </app-producto>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates">{{u}}</li>
        </ul>
    </div>
</div>

<hr>
<mgl-map [style]="style" [zoom]="[2]" style="height: 50vh; width: 100vw;">
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div onclick="alert('Hola')" class="marker">
            Hola mundo!
        </div>
    </mgl-marker>
</mgl-map>