<div class="card-content" [@esFavorito]="producto.isSelected()?'estadoFavorito':'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/tech" alt="">
        <span>
            <h4>{{producto.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <p>{{producto.descripcion}}</p>
        <p>Usos:</p>
        <ul>
            <li *ngFor="let u of producto.usos">
                <span [ngSwitch]="u">
                    <i *ngSwitchCase="'computadores'">{{u}}</i>
                    <i *ngSwitchDefault>{{u}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i
                    class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick
                data-trackear-tags="destino_vote_down lista_destinos_item"><i class=" material-icons
                md-18">thumb_down</i></a>
            <p>{{producto.votes}}</p>
        </div>
        <a href="#" class="btn-card" (click)="ir()">Seleccionar!</a>
        <span *ngIf="producto.isSelected()">- PREFERIDO -</span>
        <a [routerLink]="['/producto']">Ver detalle</a>
    </div>
</div>