<p>vuelos-component works!</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./mas-info']">Mas info</a> |
    <a [routerLink]="['./',5]">Vuelo 5</a>
</div>
<router-outlet></router-outlet>