<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['desc'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar	
nombre..." [formControl]="fg.controls['nombre']">
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre inválido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tenenr mínimo {{minLongitud}}
            caracteres!</div>

    </div>
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Ingresar	
la descripcion..." [formControl]="fg.controls['desc']">
    </div>
    <button type=" submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>