<form action="" class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
        <label for="username">User: (type <em> user</em>)</label>
        <input type="text" class="form-control" name="username" #username>
    </div>
    <div class="form-group">
        <label for="password">Password: (type <em> password</em>)</label>
        <input type="password" class="form-control" name="password" #password>
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar</a>
    {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir</a>